.card-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 10vh;
}

.block {
    display: flex;
    flex-direction: row;
    margin: 3px 0px;
    .cell {
        font-size: 1rem;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 3px !important;
    }
}
