.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .btn {
        margin: 0px 5px;
    }
}

.header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 2rem;
    line-height: 2rem;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
} 